<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../../public/styles/global.css" />
  </head>
  <body>
    <nav class="menu">
      <a href="/">
        <img
          class="Logo"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/1024px-LEGO_logo.svg.png"
          alt="Logo Site"
        />
      </a>
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
  </body>
</html>
